{% extends "_staticpage.html" %}

{%hyde
    title: "Chat: ayuda en línea (soporte técnico de software libre)"
%}

{% block article %}

<h2>Te ayudamos a solucionar inconvenientes</h2>


En tiempo real
--------------
![Banner]({{site.url}}/media/img/ayuda-grande.png)

<iframe
src="http://webchat.freenode.net?nick=invitadoweb.&channels=gulbac&uio=MT1mYWxzZSY5PXRydWUmMTI9dHJ1ZQ0c"
width="647" height="400"></iframe>

<ul>
	<li><strong><a href="http://preguntas.gulbac.org.ar">Preguntas y respuestas</a></strong>:
	Si no hay nadie online en este momento, podés dejar tu duda en el
	sistema de preguntas y respuestas :-)</li>
</ul>

<a href="{{site.url}}/soporte">gulBAC soporte técnico</a>

{% endblock %}
