{% extends "_staticpage.html" %}

{%hyde
    title: "Soporte técnico y ayuda con software libre"
%}

{% block article %}

<h2>Te ayudamos a solucionar inconvenientes</h2>


Vía web
--------------
![Banner]({{site.url}}/media/img/tito01.png)
Si sabés aproximadamente cual es tu problema o podés darnos suficientes datos como para hacer un diagnóstico, podés contactarte con nosotros por los siguientes medios. Elegí la opción que más cómoda te sea! :-)

<ul>
	<li><strong><a href="http://preguntas.gulbac.org.ar">Preguntas y respuestas</a></strong>: Es un sistema muy simple, hacés tu pregunta y alguno o varios de nosotros eventualmente la va a leer y responder. Podés votar las respuestas que más te sirvieron, comentar para complementar y ¿por qué no? responder preguntas de otros!</li>
	<li><a href="https://listas.linux.org.ar/cgi-bin/mailman/listinfo/gulbac">Lista de correo</a>: Desde ese enlace podés registrarte a nuestra lista de correos y enviar un email contando lo que necesitás. Si no querés registrarte, podés enviar un mail a <strong>gulbac@linux.org.ar</strong> especificando que deben responder a tu mail personal</li>
	<li><a href="http://wiki.gulbac.org.ar/index.php/Canal_de_IRC">Canal de IRC</a>: Entrá a #gulbac en el server irc.freenode.net y podés hablar con los miembros que estén conectados en tiempo real</li>
</ul>

Presencialmente
--------------

Si preferís vernos las caras o invitarnos unas galletitas, nos podés encontar presencialmente en:

Mar del Plata:
<ul>
	<li><strong>Casa de la Juventud</strong>: Juan B Justo 3750, <a href="{{site.url}}/noticias/2011/eventos-juventud-2011">todos los sábados de 14 a 16hs</a>. Te esperamos!</li>
	<li>Eventos http://wiki.gulbac.org.ar/index.php/Portada#Eventos_futuros</li>
</ul>

{% endblock %}
