{% extends "_staticpage.html" %}

{%hyde
    title: "Conectar Libertad: aportes libres a ConectarIgualdad"
%}

{% block article %}


Software Libre
--------------
![Banner]({{site.url}}/media/img/ayuda-grande.png)
<a href="{{site.url}}/software-libre">Qu&eacute; es el software libre?</a>

ConectarIgualdad
--------------
![Banner]({{site.url}}/media/img/ayuda-grande.png)
<a href="http://www.conectarigualdad.gob.ar">Link</a>

Netbooks
--------------
![Banner]({{site.url}}/media/img/ayuda-grande.png)
![Banner](http://www.gulbac.org.ar/conectarigualdad.png)


CDPedia
--------------
![Banner]({{site.url}}/media/img/ayuda-grande.png)
<a href="http://cdpedia.python.org.ar">Link</a>

<h2>Te ayudamos a solucionar inconvenientes</h2>

* <a href="{{site.url}}/soporte">gulBAC soporte técnico</a>
* <a href="http://preguntas.gulbac.org.ar/">gulBAC Responde - Consulta tus dudas</a>

{% endblock %}
