{% extends "_staticpage.html" %}

{%hyde
    title: "Conectar Libertad: aportes libres a ConectarIgualdad"
%}

{% block article %}


Software Libre
--------------
![Banner]({{site.url}}/media/img/ayuda-grande.png)

ConectarIgualdad
--------------
![Banner]({{site.url}}/media/img/ayuda-grande.png)

Netbooks
--------------
![Banner]({{site.url}}/media/img/ayuda-grande.png)

CDPedia
--------------
![Banner]({{site.url}}/media/img/ayuda-grande.png)


<h2>Te ayudamos a solucionar inconvenientes</h2>

* <a href="{{site.url}}/soporte">gulBAC soporte técnico</a>
* <a href="http://preguntas.gulbac.org.ar/">gulBAC Responde - Consulta tus dudas</a>

{% endblock %}
