{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: Call For Charlas para el FLISoL 2012 en Mar del Plata
    desc: GulBAC (Grupo de Usuarios de GNU/Linux y Software Libre de Buenos Aires Central) los invita a ser parte del Festival de Instalación de Software Libre 2012. El mismo tendrá como temática el Entretenimiento y la Educación. ¿Te gustaría ser parte de las charlas?
    created: 2012-03-17 00:00:01
%}

{% block article %}

{% article %}

{% excerpt %}

## Call For Charlas para el FLISoL 2012 en Mar del Plata

GulBAC (Grupo de Usuarios de GNU/Linux y Software Libre de Buenos Aires Central) los invita a ser parte del Festival de Instalación de Software Libre 2012. El mismo tendrá como temática: Entretenimiento y Educación.

¿Te gustaría ser parte de las charlas? Envíanos tu propuesta con los siguientes datos:
Título:

* Autor(es): Nombre y apellido, breve descripción de cada uno, foto, asociación, grupo de usuarios, y organismo o empresa a la que pertenece (si corresponde).
* Charla: una breve descripción (Dos párrafos dónde se explique el contenido de la presentación).
* Tipo de público al que estaría destinada la charla. Ej. Docentes, público en general, desarrolladores, empresarios.
* Teléfono del/los autor/es para poder comunicarnos.
* Licencia: Debe especificarse una licencia que permita que gulBAC distribuya el material de la charla y la charla en sí en el sitio web de gulBAC. Se recomienda Creative Commons o similares.
* Tener en cuenta que el tiempo estimado de la charla no puede superar los 30 minutos. En caso de que haya preguntas para responder se destinarán unos minutos extra.

Podés elegir el tema que desees para tu charla, pero orientarla a la temática del evento.

Para enviar la propuesta y realizar consultas o sugerencias, por favor escribinos a: eventos(at)gulbac.org.ar. Hay tiempo hasta el 30 de Marzo.

{% endexcerpt %}

{% endarticle %}

{% endblock %}
