{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: gulBAC responde!!! difundi la palabra
    desc: Ayudanos a fomentar el uso del sitio de preguntas y respuestas que tenemos, entre todos podemos generar mas comunidad.
    created: 2012-04-02 00:00:01
%}

{% block article %}

{% article %}

{% excerpt %}

![Banner]({{site.url}}/media/img/banner-preguntas-150.gif) Creemos que una de las mejores formas de **generar comunidad** y seguir difundiendo la palabra es ayudando, por eso queremos darle mas impulso al sitio de preguntas y respuestas de gulBAC.

Se generaron dos tipos de banner para que puedan poner en su sitio web, pagina personal o asi mismo las redes sociales donde participes, haciendo un enlace al [sitio de preguntas y respuestas](http://www.gulbac.org.ar/preguntas/ "Preguntas y respuestas") de gulBAC.

+ [Descargar banner 640]({{site.url}}/media/img/banner-preguntas-150.gif)
+ [Descargar banner 150]({{site.url}}/media/img/banner-preguntas-640.jpg)

De esa manera nos estaras dando una mano para seguir creciendo.

{% endexcerpt %}

{% endarticle %}

{% endblock %}
