{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: FLISoL 2012 en Mar del Plata
    desc: Este año, la comunidad de gulBAC Mar del Plata, volverá a organizar Flisol en las instalaciones de ADUM (Gral. Roca 3865). En esta oportunidad, todo el festival estará relacionado con la temática "Entretenimiento y Educación". 
    created: 2012-03-18 00:00:01
%}

{% block article %}

{% article %}

{% excerpt %}

El **Festival Latinoamericano de Instalación de Software Libre** (FLISoL) es el evento de difusión de **Software Libre** más grande de la región, abarcando mas de 200 ciudades. Se realiza desde el año 2005 y su principal objetivo es promover el uso del Software Libre. 

Simultáneamente, en diversas ciudades del mundo, se estarán organizando eventos en los que se instala, de manera gratuita y totalmente legal, Software Libre en las computadoras de los asistentes.  También, se ofrecen charlas, ponencias y talleres sobre los distintos ámbitos en los que se puede adoptar esta filosofía. 

Este año, la comunidad de **gulBAC Mar del Plata**, volverá a organizar Flisol en las instalaciones de ADUM (Gral. Roca 3865). En esta oportunidad, todo el festival estará relacionado con la temática: **"Entretenimiento y Educación"**. 

Si tu computadora no tiene lo último en tecnología no te preocupes, tenemos software para todo tipo de máquinas. Además, si ya tenés GNU/Linux instalado y hay algo que no funciona, vení y te ayudamos a solucionarlo. 

## Charlas:

<table style="text-align:center;margin: 10px auto;">
	<tr style="height:20px;background-color:#C5EDA1;">
		<td style="width:120px;"><b>Horario</b></td>
		<td style="width:110px;"><b>Disertante</b></td>
		<td style="width:200px;"><b>Charla</b></td>
		<td style="width:110px;"><b>Disertante</b></td>
		<td style="width:180px;"><b>Charla</b></td>
	</tr>
	<tr style="height:40px;">
		<td style="background-color:#C5EDA1;"><b>10:30 a 12:00</b></td>
		<td style="background-color:#ECECEC;">Felipe Evans</td>
		<td style="background-color:#ECECEC;">Taller de armado de distribuciones GNU/Linux</td>
		<td>-</td>
		<td>-</td>
	</tr>
	<tr style="height:20px;">
		<td style="background-color:#C5EDA1;"><b>12:15 a 12:45</b></td>
		<td>César Mattos</td>
		<td>Accesibilidad en GNU/Linux</td>
		<td style="background-color:#ECECEC;">Esteban Zarate</td>
		<td style="background-color:#ECECEC;">Uso de Wikipedia en Educaci&oacute;n</td>
	</tr>
	<tr style="height:50px;">
		<td style="background-color:#C5EDA1;"></td>
		<td style="background-color:#C5EDA1;"></td>
		<td style="background-color:#C5EDA1;"><br><b>13:00 a 13:45 - Almuerzo</b></td>
		<td style="background-color:#C5EDA1;"></td>
		<td style="background-color:#C5EDA1;"></td>
	</tr>
	<tr style="height:40px;">
		<td style="background-color:#C5EDA1;"><b>13:45 a 14:15</b></td>
		<td style="background-color:#ECECEC;">Marcos<br>Caballero</td>
		<td style="background-color:#ECECEC;">Letritas</td>
		<td>Carlos Guardia</td>
		<td>Sistema de Información Geogr&aacute;fico</td>
	</tr>
	<tr style="height:40px;">
		<td style="background-color:#C5EDA1;"><b>14:30 a 15:00</b></td>
		<td>Facundo de la Cruz</td>
		<td>Seguridad Informática</td>
		<td style="background-color:#ECECEC;">Sergio Puggioni</td>
		<td style="background-color:#ECECEC;">Software Libre como herramienta pedag&oacute;gica</td>
	</tr>
	<tr style="height:40px;">
		<td style="background-color:#C5EDA1;"><b>15:15 a 15:45</b></td>
		<td style="background-color:#ECECEC;">Gustavo Carr</td>
		<td style="background-color:#ECECEC;">Pure Data</td>
		<td>Mart&iacute;n Gregorio</td>
		<td>Tu sala de computaci&oacute;n<br>en 10 minutos</td>
	</tr>
	<tr style="height:40px;">
		<td style="background-color:#C5EDA1;"><b>16:00 a 16:30</b></td>
		<td>Gonzalo Benoffi</td>
		<td>C&oacute;mo programar en Android</td>
		<td style="background-color:#ECECEC;">Facundo de la Cruz</td>
		<td style="background-color:#ECECEC;">ZFS</td>
	</tr>
	<tr style="height:40px;">
		<td style="background-color:#C5EDA1;"><b>16:45 a 17:30</b></td>
		<td style="background-color:#ECECEC;">MatesLab</td>
		<td style="background-color:#ECECEC;">¿Ardu-qu&eacute;? Una introducci&oacute;n<br>al mundo Arduino</td>
		<td>-</td>
		<td>-</td>
	</tr>
	<tr style="height:50px;">
		<td style="background-color:#C5EDA1;"></td>
		<td style="background-color:#C5EDA1;"></td>
		<td style="background-color:#C5EDA1;"><br><b>17:45 a 18:00 - Sorteos</b></td>
		<td style="background-color:#C5EDA1;"></td>
		<td style="background-color:#C5EDA1;"></td>
	</tr>
</table>

## ¿A quién está dirigido?

El evento está dirigido a todo tipo de público: estudiantes, académicos, empresarios, trabajadores, funcionarios públicos, entusiastas y personas que no poseen mucho conocimiento informático.

## ¿Cuando lo hacemos?

El Sábado 28 de Abril. Para hacerte acordar te dejamos [un link al evento en Google](https://www.google.com/calendar/event?action=TEMPLATE&tmeid=c2V0cXI2b2xhaWVuazFxbGlncjNmNDZkc2MgNDVtaHZhNXNtODFrOXI3Zzk3dXJkdms4ajhAZw&tmsrc=45mhva5sm81k9r7g97urdvk8j8%40group.calendar.google.com "Google Calendar") y [otro al que creamos en Facebook](https://www.facebook.com/events/349949708381405/ "Facebook").

## ¿Cuánto cuesta?

La asistencia al evento es totalmente libre y gratuita.


## ¿Dónde es?

Va de nuevo: Gral. Roca 3865 (ADUM). Si vas en colectivo, llegas con el: 531, 532, 571 y 525.

<div align="center">
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.ar/maps/ms?msa=0&amp;msid=211334770110359554191.0004bb9ac72e36783048d&amp;ie=UTF8&amp;t=m&amp;z=17&amp;output=embed"></iframe><br>
</div>

## ¡Si querés preguntarnos algo, no dudes en visitar nuestros perfiles en redes sociales!

<div style="width:400px;margin: 10px auto;">
<div style="float:right;">
<br>
<a href="https://twitter.com/gulbac" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large" data-show-screen-name="true">Seguir a @gulbac</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=144512168919936";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div style="float:left;">
<div class="fb-like-box" data-href="http://www.facebook.com/pages/GulBAC/215844445175961" data-width="250" data-show-faces="false" data-stream="false" data-header="false"></div>
</div>
</div>

{% endexcerpt %}

{% endarticle %}

{% endblock %}
