{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: FLISoL 2012 en Mar del Plata
    desc: Este año, la comunidad de gulBAC Mar del Plata, volverá a organizar Flisol en las instalaciones de ADUM (Gral. Roca 3865). En esta oportunidad, todo el festival estará relacionado con la temática "Entretenimiento y Educación". 
    created: 2012-03-18 00:00:01
%}

{% block article %}

{% article %}

{% excerpt %}

El **Festival Latinoamericano de Instalación de Software Libre** (FLISoL) es el evento de difusión de **Software Libre** más grande de la región, abarcando mas de 200 ciudades. Se realiza desde el año 2005 y su principal objetivo es promover el uso del Software Libre. 

Simultáneamente, en diversas ciudades del mundo, se estarán organizando eventos en los que se instala, de manera gratuita y totalmente legal, Software Libre en las computadoras de los asistentes.  También, se ofrecen charlas, ponencias y talleres sobre los distintos ámbitos en los que se puede adoptar esta filosofía. 

Este año, la comunidad de **gulBAC Mar del Plata**, volverá a organizar Flisol en las instalaciones de ADUM (Gral. Roca 3865). En esta oportunidad, todo el festival estará relacionado con la temática: **"Entretenimiento y Educación"**. 

Si tu computadora no tiene lo último en tecnología no te preocupes, tenemos software para todo tipo de máquinas. Además, si ya tenés GNU/Linux instalado y hay algo que no funciona, vení y te ayudamos a solucionarlo. 

## Charlas:

¡Muy pronto tendremos el cronograma listo!

Si querés dar una charla, tenés tiempo hasta el 30 de Abril: [Call for Charlas](http://gulbac.org.ar/noticias/2012/call-flisol-2012-mar-del-plata "Call for charlas")

## ¿A quién está dirigido?

El evento está dirigido a todo tipo de público: estudiantes, académicos, empresarios, trabajadores, funcionarios públicos, entusiastas y personas que no poseen mucho conocimiento informático.

## ¿Cuando lo hacemos?

El Sábado 28 de Abril. Para hacerte acordar te dejamos [un link al evento en Google](https://www.google.com/calendar/event?action=TEMPLATE&tmeid=c2V0cXI2b2xhaWVuazFxbGlncjNmNDZkc2MgNDVtaHZhNXNtODFrOXI3Zzk3dXJkdms4ajhAZw&tmsrc=45mhva5sm81k9r7g97urdvk8j8%40group.calendar.google.com "Google Calendar") y [otro al que creamos en Facebook](https://www.facebook.com/events/349949708381405/ "Facebook").

## ¿Cuánto cuesta?

La asistencia al evento es totalmente libre y gratuita.


## ¿Dónde es?

Va de nuevo: Gral. Roca 3865 (ADUM). Si vas en colectivo, llegas con el: 531, 532, 571 y 525.


<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.ar/maps/ms?msa=0&amp;msid=211334770110359554191.0004bb9ac72e36783048d&amp;ie=UTF8&amp;t=m&amp;z=17&amp;output=embed"></iframe><br>

## ¡Si querés preguntarnos algo, no dudes en visitar nuestros perfiles en redes sociales!

<a href="http://www.twitter.com/gulbac"><img src="http://dl.dropbox.com/u/788333/FLISoL/Twitter.png" title="Twitter"></a>

<a href="https://www.facebook.com/pages/GulBAC/215844445175961"><img src="http://dl.dropbox.com/u/788333/FLISoL/facebook-logo.png" title="Facebook"></a>

{% endexcerpt %}

{% endarticle %}

{% endblock %}
