{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: Nos estamos mudando
    desc: En estos dias (pueden ser semanas) nos mudamos de server.
    created: 2012-01-09 00:00:01
%}

{% block article %}

{% article %}

{% excerpt %}

## Mudamos gulBAC de servidor

De la mano amiga de [USLA](http://www.usla.org.ar/ "USLA") vamos a mudar todos nuestros bartulos de servidor, para poder utilizar nuevas herramientas y tener mas posibilidades de implementar cosas nuevas.

Si en estos dias ven algunos problemas, seguramente se deban a estos cambios que se estaran realizando, no se asusten que cuando volvamos les avisamos.

{% endexcerpt %}

{% endarticle %}

{% endblock %}
