{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: Reunión del Nodo MDQ
    desc: Este domingo nos juntamos para charlar de Software Libre y compartir una cena en familia.
    created: 2012-06-07 00:00:01
%}

{% block article %}

{% article %}

{% excerpt %}

![Banner]({{site.url}}/media/img/banner-titonuevo.png) 

Invitamos a toda la comunidad a nuestro pr&oacute;ximo encuentro.

Este domingo los esperamos en el bar ubicado en **Mitre 2558 a partir de las 20.30hs**. 

Compartan con nosotros una cena donde el Software Libre ser&aacute; el principal tema de conversaci&oacute;n :)

Si despu&eacute;s de FLISoL se quedaron con alguna duda, **esta es su oportunidad**. 

<br>

**¡Nos vemos ah&iacute;!**

<br>

*Nota: La reuni&oacute;n se llev&oacute; a cabo el Domingo 10 de Junio.*


{% endexcerpt %}

{% endarticle %}

{% endblock %}
