{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: Software Freedom Day en MDQ
    desc: El 15 de Septiembre festejaremos el día de la libertad del Software en nuestra ciudad.
    created: 2012-08-28 00:00:01
%}

{% block article %}

{% article %}

{% excerpt %}

![Banner]({{site.url}}/media/img/avatar-150.jpg) 

El **Software Freedom Day** (SFD) es una celebración global cuya meta es difundir los beneficios de usar **Software Libre** en la educación, en el gobierno, en el hogar y en los negocios.

En esta ocasión, el **nodo Mar del Plata de gulBAC** y **la Asociación Argentina de Usuarios de Internet (Internauta)** organizaremos una jornada de charlas y talleres para toda la comunidad.

## ¿Cuando?

El evento se realizar&aacute; el **S&aacute;bado 15 de Septiembre de 14 hs a 19 hs**. 

## ¿Cu&aacute;nto sale?

¡La entrada es libre y gratuita!

## Charlas

¡Todavía estamos armando el cronograma pero preparate para seguir aprendiendo sobre **Android**, **T&eacute;rminos y Condiciones**, **Educaci&oacute;n Libre**, **Herramientas de monitoreo de red** y mucho m&aacute;s!

## ¿A d&oacute;nde?

Guido 3248 (A.D.U.M.)

Colectivos: 531, 532, 571 y 525.

<div align="center">
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=211334770110359554191.0004c85ee23a41c3ef707&amp;ie=UTF8&amp;ll=-38.005175,-57.569975&amp;spn=0,0&amp;t=h&amp;output=embed"></iframe><br /><small>Ver <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=211334770110359554191.0004c85ee23a41c3ef707&amp;ie=UTF8&amp;ll=-38.005175,-57.569975&amp;spn=0,0&amp;t=h&amp;source=embed" style="color:#0000FF;text-align:left">SFD 2012 en Mar del Plata</a> en un mapa ampliado</small>
</div>

## ¡Compartilo!

Ayudanos a difundir lo que hacemos compartiendo &eacute;sta p&aacute;gina con tus amigos:

<div class="shr_class shareaholic-show-on-load" style="width:420px;height:auto;margin: 10px auto;">

</div>

## ¿Us&aacute;s redes sociales?

¡Pod&eacute;s enterarte lo que se viene antes que nadie visitando nuestros perfiles!

<div style="width:518px;height:auto;margin: 10px auto;">
<div style="float:right;">
<br>
<a href="https://twitter.com/gulbac" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large" data-show-screen-name="true">Seguir a @gulbac</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div id="fb-root"></div>
<div style="float:left;">
<div class="fb-like-box" data-href="http://www.facebook.com/pages/GulBAC/215844445175961" data-width="250" data-show-faces="false" data-stream="false" data-header="false"></div>
</div>
<br>
<g:plusone href="https://plus.google.com/115659655655231873531"></g:plusone>
</div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=144512168919936";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<script type="text/javascript">
  var SHRSB_Settings = {"shr_class":{"src":"{{site.url}}/media/shareaholic/","link":"","service":"5,7,304,88,78,205,313","apikey":"0747414f47c2b684cf5480c36b2478689","localize":true,"shortener":"bitly","shortener_key":"","designer_toolTips":true,"tip_bg_color":"black","tip_text_color":"white","twitter_template":"${title} - ${short_link} vía @gulbac"}};
  var SHRSB_Globals = {"perfoption":"1"};
</script>


<script type="text/javascript">
       (function() {
            var sb = document.createElement("script"); sb.type = "text/javascript";sb.async = true;
            sb.src = ("https:" == document.location.protocol ? "https://dtym7iokkjlif.cloudfront.net" : "http://cdn.shareaholic.com") + "/media/js/jquery.shareaholic-publishers-sb.min.js";
            var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(sb, s);
        })();
</script>

{% endexcerpt %}

{% endarticle %}

{% endblock %}
