{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: Software Freedom Day en MDQ
    desc: El 15 de Septiembre festejaremos el día de la libertad del Software en nuestra ciudad.
    created: 2012-08-28 00:00:01
%}

{% block article %}

{% article %}

{% excerpt %}

![Banner]({{site.url}}/media/img/avatar-150.jpg) 

El **Software Freedom Day** (SFD) es una celebración global cuya meta es difundir los beneficios de usar **Software Libre** en la educación, en el gobierno, en el hogar y en los negocios.

En esta ocasión, el **nodo Mar del Plata de gulBAC** y **la Asociación Argentina de Usuarios de Internet (Internauta)** organizaremos una jornada de charlas y talleres para toda la comunidad.

<h2> ¿Cu&aacute;ndo? </h2>

El evento se realizar&aacute; el **S&aacute;bado 15 de Septiembre de 14 hs a 19 hs**. 

<h2> ¿Cu&aacute;nto sale? </h2>

¡La entrada es libre y gratuita!

<h2> Charlas </h2>

<table style="text-align:center;margin: 10px auto;">
	<tr style="height:40px;background-color:#6DBE25;line-height:13px;">
		<td style="width:180px;"><b><br>Horario</b></td>
		<td style="width:210px;"><b><br>T&iacute;tulo</b></td>
		<td style="width:180px;"><b><br>Charla</b></td>
	</tr>
	<tr style="height:35px;line-height:13px;">
		<td style="background-color:#6DBE25;"><b><br>14:15 a 14:45</b></td>
		<td style="background-color:#ECECEC;"><br>T&eacute;rminos y Condiciones</td>
		<td style="background-color:#ECECEC;"><br>Dar&iacute;o Badagnani</td>
	</tr>
	<tr style="height:35px;line-height:13px;">
		<td style="background-color:#6DBE25;"><b><br>15:00 a 15:30</b></td>
		<td style="line-height:13px;"><br>Haciendo aplicaciones en Android<br><br></td>
		<td style="line-height:13px;"><br>Gonzalo Benoffi</td>
	</tr>
	<tr style="height:35px;line-height:13px;">
		<td style="background-color:#6DBE25;"><br><b>15:45 a 16:15</b></td>
		<td style="background-color:#ECECEC;"><br>Educación y Software Libre</td>
		<td style="background-color:#ECECEC;"><br>Sergio Puggioni</td>
	</tr>
	<tr style="height:40px;background-color:#C5EDA1;line-height:13px;">
		<td></td>
		<td><b><br>16:15 a 16:45 - Merienda</b></td>
		<td></td>
	</tr>
	<tr style="height:35px;line-height:13px;">
		<td style="background-color:#6DBE25;"><b><br>16:45 a 17:15</b></td>
		<td style="line-height:13px;"><br>Hacking Munin && Nagios for Fun and Profit<br><br></td>
		<td style="line-height:13px;"><br>Dererk</td>
	</tr>
	<tr style="height:35px;line-height:13px;">
		<td style="background-color:#6DBE25;"><b><br>17:30 a 18:00</b></td>
		<td style="background-color:#ECECEC;"><br>Desarrollo de aplicaciones cloud con Software Libre<br><br></td>
		<td style="background-color:#ECECEC;"><br>Gaspar Errobidart y Mario Lucchelli</td>
	</tr>
	<tr style="height:35px;line-height:13px;">
		<td style="background-color:#6DBE25;"><b><br>18:15 a 18:45</b></td>
		<td><br>Reprogramando Cráneos</td>
		<td><br>Mart&iacute;n Gregorio</td>
	</tr>
	<tr style="height:40px;background-color:#C5EDA1;line-height:13px;">
		<td></td>
		<td><br><b>18:45 a 19:00 - Sorteos</b></td>
		<td></td>
	</tr>
</table>

**¡IMPORTANTE! Si ten&eacute;s consultas t&eacute;cnicas, vas contar con un espacio destinado a solucionarlas.**

<h2> ¿A d&oacute;nde? </h2>

<div align="center">
<iframe src="http://mybus.com.ar/apiFrames/destinoSimple.php?lugar=Software%20Fredom%20Day" style="overflow: hidden; border: medium none; min-height: 400px; min-width: 400px;" id="ifrm" height="400px" scrolling="no" width="480px"></iframe>
</div>

<h2> ¡Compartilo! </h2>

Ayudanos a difundir lo que hacemos compartiendo &eacute;sta p&aacute;gina con tus amigos:

<div class="shr_class shareaholic-show-on-load" style="width:420px;height:auto;margin: 10px auto;">

</div>

<h2> ¿Us&aacute;s redes sociales? </h2>

¡Pod&eacute;s enterarte lo que se viene antes que nadie visitando nuestros perfiles!

<div style="width:518px;height:auto;margin: 10px auto;">
<div style="float:right;">
<br>
<a href="https://twitter.com/gulbac" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large" data-show-screen-name="true">Seguir a @gulbac</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div id="fb-root"></div>
<div style="float:left;">
<div class="fb-like-box" data-href="http://www.facebook.com/pages/GulBAC/215844445175961" data-width="250" data-show-faces="false" data-stream="false" data-header="false"></div>
</div>
<br>
<g:plusone href="https://plus.google.com/115659655655231873531"></g:plusone>
</div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=144512168919936";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<script type="text/javascript">
  var SHRSB_Settings = {"shr_class":{"src":"{{site.url}}/media/shareaholic/","link":"","service":"5,7,304,88,78,205,313","apikey":"0747414f47c2b684cf5480c36b2478689","localize":true,"shortener":"bitly","shortener_key":"","designer_toolTips":true,"tip_bg_color":"black","tip_text_color":"white","twitter_template":"${title} - ${short_link} vía @gulbac"}};
  var SHRSB_Globals = {"perfoption":"1"};
</script>


<script type="text/javascript">
       (function() {
            var sb = document.createElement("script"); sb.type = "text/javascript";sb.async = true;
            sb.src = ("https:" == document.location.protocol ? "https://dtym7iokkjlif.cloudfront.net" : "http://cdn.shareaholic.com") + "/media/js/jquery.shareaholic-publishers-sb.min.js";
            var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(sb, s);
        })();
</script>

{% endexcerpt %}

{% endarticle %}

{% endblock %}
