{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: Sponsors para FLISol
    desc: gulBAC y FLISol necesitan de tu ayuda
    created: 2012-03-21 00:00:01
%}

{% block article %}

{% article %}

{% excerpt %}

GulBAC (Grupo de Usuarios de GNU/Linux y Software Libre de Buenos Aires Central) es una organización sin fines de lucro que surge con el único propósito de dar a conocer, distribuir e implementar sistemas GNU/Linux y cualquier otro que se desarrolle dentro del marco del **Software Libre**. GulBAC es un GLUG (GNU/Linux User Group) con la idea y la iniciativa de alentar a todos los usuarios a utilizar Software Libre enseñando, difundiendo y apoyando la filosofía de la libertad. Es por eso que en esta oportunidad, nos disponemos a organizar por quinta vez consecutiva el __Festival Latinoamericano de Instalación de Software Libre (FLISOL) en Mar del Plata__.

FLISOL es el evento de difusión de Software Libre más grande en Latinoamérica, abarcando mas de 200 ciudades. Se realiza desde el año 2005 y su principal objetivo es promover el uso del Software Libre. Está dirigido a todo tipo de público: estudiantes, académicos, empresarios, trabajadores, funcionarios públicos, entusiastas y personas que no poseen mucho conocimiento informático. Cabe destacar que la entrada es libre y gratuita.

El presente año, el evento tendrá lugar internacionalmente el día **Sábado 28 de Abril**. El mismo se centrará en la instalación de manera gratuita y totalmente legal de Software Libre en las computadora de cada asistente. Se ofrecerán charlas, ponencias y talleres, sobre temáticas locales, nacionales y latinoamericanas en torno al Software Libre en cada una de su áreas: artística, académica, empresarial y social.

Para poder lograr que el evento sea un éxito __necesitamos de tu colaboración__! Estamos buscando **sponsors** que puedan brindarnos su apoyo. Contactate con nosotros y contanos cómo podés ayudar, todo es bienvenido y será muy valorado!.

Gracias por ser parte de FLISOL!

{% endexcerpt %}

{% endarticle %}

{% endblock %}
