{% extends "_staticpage.html" %}

{%hyde
   title: "Misión Visión y valores de gulBAC"
%}

{% block article %}
##Misión

gulBAC es una organización sin fines de lucro que tiene como objetivo
principal ayudar a la creación de grupos de usuarios de software libre
en los municipios de la provincia de Buenos Aires (de aquí en más
denominados 'nodos'), actuando como estructura de soporte para brindar
un espacio común a todas las personas afines al pensamiento del software
y la cultura libre donde puedan desarrollarse y llevar adelante sus
ideales.
Sin perjuicio de esto, gulBAC colaborará activamente en la
organización y promoción de eventos destinados a promover el uso de
Software Libre y la difusión y adopción de su filosofía.

##Visión

gulBAC quiere promover la creación de redes de acción y alianzas entre
comunidades y actores relacionados con tecnologías libres, articulando
iniciativas y proyectos con impacto social y económico fomentando la
masificación del uso y generación de conocimiento libre.

##Valores

gulBAC desarrolla sus actividades dentro del marco ético y social
adoptado por la Free Software Foundation [0].
Los integrantes de gulBAC conforman una estructura horizontal guiada
por la elección de la mayoría incentivando la interacción activa de
sus integrantes, respetando los valores que vienen de la mano de las
cuatro libertades del Software Libre potenciados por la solidaridad,
el profesionalismo, la ética y el espíritu de equipo.

{% endblock %}
