{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: 2da Jornada de Instalación y soporte
    desc: Traé tu CPU, notebook o netbook, te ayudamos a instalar tu sistema operativo libre y los programas que necesitás para trabajar, estudiar, desarrollar proyectos de todo tipo
    created: 2010-11-29 00:00:01
%}

{% block article %}

{% article %}

{% excerpt %}

## Lugar y Fecha
El día sábado 4 de diciembre de 15:30 a 19:30 hs. en Guido 3248 - Mar del Plata (A.D.U.M.)

## Descripción
Traé tu CPU, notebook o netbook: te ayudamos a instalar tu sistema operativo libre y los programas que necesitás para trabajar, estudiar, desarrollar proyectos de todo tipo, crear o editar imagen, música y video, navegar por Internet, gestionar tu correo, chatear y hablar por VoIP, disfrutar tu música o tus películas, o simplemente jugar.

No importa si tu PC es "último modelo" o ya tiene muchos añitos. Tenemos diferentes opciones y te asesoramos para que puedas elegir la que más te guste y te convenga:

* Para las PC más actuales: Debian (Lenny o Squeeze) - Ubuntu - Kubuntu - ArchLinux - Mint - Tuquito - Fedora
* Para las PC viejitas o con muy pocos recursos: Molinux Zero - Tiny Core ¡No te lo pierdas, resucitá tu "abandonware"!

Si por ahora querés mantener el sistema operativo que usas actualmente no hay problema, te instalamos GNU/Linux en una partición diferente, para que cada vez que inicies la compu puedas elegir con cuál de los dos sistemas trabajar.

Sólo tenés que traer tu PC con Windows BIEN DEFRAGMENTADO, para no perder ni datos ni tiempo.

Y si ya tenés software libre instalado en tu PC, también te ayudaremos a resolver inconvenientes con "ese programita" que todavía no podés configurar para que "ande 10 puntos", o con ese driver privativo que todavía se resiste...

Traé tu mate y tu termo. También habrá café, jugos, tortas y otras delicatessen "libres" (si querés, te damos las recetas).

Te esperamos el sábado 4 de diciembre, de 15:30 a 19:30 hs. en Guido 3248 (A.D.U.M., Agremiación Docente Universitaria Marplatense).

### La entrada es libre y gratuita. ¡No faltes!

{% endexcerpt %}

{% endarticle %}

{% endblock %}
