{% extends "_staticpage.html" %}

{%hyde
    title: "Movimientos GNU y FSF"
%}

{% block article %}

¿Movimiento GNU? ¿Qué es eso?
--------------
![Banner]({{site.url}}/media/img/gnucito.png)
El <a href="http://www.gnu.org">Proyecto GNU</a> es un proyecto que comenzó en 1983, con el objetivo de desarrollar un <a href="http://es.wikipedia.org/wiki/Sistema_Operativo">sistema operativo</a> íntegramente libre.
Su originador es <a href="http://www.stallman.org">Richard M. Stallman</a>, un programador estadounidense que comenzó a ver cómo las licencias privativas del software de aquella época comenzaban a entorpecer tanto su trabajo como a vulnerar la libertad de los usuarios.

Parte del proyecto GNU son las utilidades básicas de lo que hoy en día conocemos como sistema GNU/Linux: gcc, bash, glib, emacs, y muchos otros programas.

En 1991, el proyecto GNU adopta lo que le hacía falta: un núcleo libre. Linus Torvalds había desarrollado <a href="http://www.linux.com">Linux</a>, un kernel compatible con Minix (derivado de Unix) el cual había liberado bajo la licencia GPL. Así nace GNU/Linux, y sus distribuciones más conocidas se empiezan a formar luego de esto.


FSF: La fundación del software libre
--------------
![Banner]({{site.url}}/media/img/fsf.png)
Extraído de Wikipedia:

La Free Software Foundation (Fundación para el software libre) es una organización creada en octubre de 1985 por Richard Stallman y otros entusiastas del software libre con el propósito de difundir este movimiento.

La Fundación para el software libre (FSF) se dedica a eliminar las restricciones sobre la copia, redistribución, entendimiento, y modificación de programas de computadoras. Con este objeto, promociona el desarrollo y uso del software libre en todas las áreas de la computación, pero muy particularmente, ayudando a desarrollar el sistema operativo GNU.
gnu.org[1]


{% endblock %}
