{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: Eventos de Instalación en juventud MdP
    desc: Los dias sábados nos vamos a reunir con regularidad en la Casa de Juventud (Juan B. Justo entre 14 de Julio y Dorrego). Traé tu máquina para instalar software libre...
    created: 2011-04-30 14:15:01
%}

{% block article %}

{% article %}

{% excerpt %}

![banner]({{site.url}}/media/img/banner2.png)

## gulBAC ahora tiene sede!
Desde el sábado 30 de abril en adelante que la Casa de la Juventud de MGP será sede de gulBAC todos los sábados de 14 a 16hs. 

Estamos muy contentos de poder invitar al público en general a que se acerque, si tiene problemas con software libre, si quiere aprender, si tiene proyectos para comunicarnos, ganas de ayudar o participar, o simplemente pasar a conocer.

Todos son bienvenidos!

## ¿A quién está dirigido?
El evento está dirigido a todo tipo de público: estudiantes, académicos, empresarios, trabajadores, funcionarios públcios, entusiastas y a personas que no poseen mucho conocimiento informático.

## ¿Cuánto cuesta?
La asistencia todos los sábados es totalmente libre y gratuita.

*Te esperamos!*

{% endexcerpt %}

{% endarticle %}

{% endblock %}
