{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: Nos mudamos! Ahora "atendemos" en el Colegio Mariano Moreno
    desc: Los dias sábados a partir de junio del 2011 usaremos como sede el Colegio Mariano Moreno. Traé tu máquina para instalar software libre...
    created: 2011-06-25 14:15:01
%}

{% block article %}

{% article %}

{% excerpt %}

![banner]({{site.url}}/media/img/banner2.png)

## gulBAC se muda de sede!

Debido a lamentables sucesos ocurridos que afectaron a la Casa de Juventud MGP, gulBAC
no podrá temporariamente utilizar físicamente sus instalaciones. Aún así, la
Secretaría de Juventud sigue dispuesta a ayudarnos en lo que necesitemos y
por ello agradecemos enormemente a todos los que allí trabajan.

A partir de ahora estaremos *todos los sábados de 14 a 16* en el Colegio Mariano Moreno, ubicado en *Alberti casi Mitre* (entrada por Alberti, puerta blanca tras de rejas negras con un cartel que nos identifica)

Afortunadamente podemos nuevamente invitar al público a que se acerque, si tiene problemas con software libre, si quiere aprender, si tiene proyectos para comunicarnos, ganas de ayudar o participar, o simplemente pasar a conocer, saludar, tomarse un mate, etc.

Los esperamos!

## ¿A quién está dirigido?
El evento está dirigido a todo tipo de público: estudiantes, académicos, empresarios, trabajadores, funcionarios públcios, entusiastas y a personas que no poseen mucho conocimiento informático.

## ¿Cuánto cuesta?
La asistencia todos los sábados es totalmente libre y gratuita.

*Te esperamos!*

{% endexcerpt %}

{% endarticle %}

{% endblock %}
