{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: Implementamos un gestor de tareas
    desc: Para que a todos nos sea mas facil dar una mano cuando disponemos de tiempo, implementamos un gestor de tareas.
    created: 2011-12-26 00:00:01
%}

{% block article %}

{% article %}

{% excerpt %}

## Gestor de Tareas TaskFreak!

Pusimos en marcha una nueva herramienta para que la colaboracion con **gulBAC** sea mas sencilla y ordenada, se trata del software [TaskFreak](http://www.taskfreak.com/ "TaskFreak").

Los invitamos a [registrarse](http://www.gulbac.org.ar/tareas/ "Tareas gulBAC") y de esa manera poder empezar a colaborar con **gulBAC**.

Ademas, podran ver que volvimos a la vida el [sistema de ticket](http://www.gulbac.org.ar/bts/ "Sistema de ticket gulBAC") para que si ven algun error o algo anda mal puedan ustedes mismos registrarlo y asi agilizar las cosas.

Si tienen alguna duda, pueden contactarse con algun administrador enviando un correo, trataremos de responder a la brevedad.

{% endexcerpt %}

{% endarticle %}

{% endblock %}
